form {
    text-align: center;
 }
 p {
     margin: 10px  0;
  }
 body {
       background: rgb(138, 15, 15);
       font-family: Arial, sans-serif;
       font-size: 16px;
 }
          h1 {
       color: #111111;
       font-size: 24px;
 }
          button {
       background-color: #4CAF50; /* Verde */
       color: white;
       padding: 10px 20px;
       border: none;
       border-radius: 4px;
       cursor: pointer;
       }
